# ğŸ§µ ê³ ëŒ€ì¤‘êµ­ì–´ë¥¼ í•™ìŠµí•œ ëª¨ë¸ 4ê°œì™€ í˜„ëŒ€ì¤‘êµ­ì–´ë¥¼ í•™ìŠµí•œ ëª¨ë¸ 1ê°œ

# ğŸ’¡ ì›ì‹œì™€ ì°¨ìš´ì‹œì—ì„œ ì˜ˆì¸¡í•œ ê²°ê³¼ë¥¼ ë¹„êµí•˜ê¸° ìœ„í•´ z-testë¥¼ ì‹¤ì‹œ

In [1]:
import pandas as pd
import numpy as np

# Guwenbert-large (ê³ ëŒ€ì¤‘êµ­ì–´ ëª¨ë¸)

In [2]:
changshi1 = pd.read_csv("C:/Users/Dayeon Lee/Desktop/PythonWD/yunjiao_files2/changshi_guwenbert_large.csv")
print(len(changshi1))
changshi1.head(2)

412

,ow,ot,oc,yunjiao_list,result,all_yunjiao,processed_list,total
0,è˜‡è½,å±±èƒ¡,å±±èƒ¡æ‹¥è‹æ¯³ï¼Œä¸¤è€³ç™½èŒ¸èŒ¸ã€‚é‡æ ‘å•¼ç»ˆæ—¥ï¼Œé»”å±±æ·±å‡ é‡ã€‚å•„æºªæ¢ç»†çŸ³ï¼Œå™ªè™ä¸Šå­¤å³°ã€‚è¢«æ‰§åº”å¤šæ¨ï¼Œç­ ç¬¼ä»…ä¸å®¹ã€‚,"['èŒ¸', 'é‡', 'å³°', 'å®¹']",èŒ¸ é‡ å³° å®¹,4,4,1.00
1,è˜‡æ´µ,é¢˜é˜ç«‹æœ¬ç”»æ°´å®˜,æ°´å®˜éª‘è‹é¾™ï¼Œé¾™è¡Œæ¬²ä¸Šå¤©ã€‚æ‰‹æ”€æ—¶ä¸”ä½ï¼Œæµ©è‹¥ä¹˜é£èˆ¹ã€‚ä¸çŸ¥å‡ ä½•é•¿ï¼Œè¶³å°¾çŠ¹åœ¨æ¸Šã€‚ä¸‹æœ‰äºŒä»è‡£ï¼Œå·¦å³ä¹˜é±¼...,"['å¤©', 'èˆ¹', 'æ¸Š', 'é¼‹', 'ç¿»', 'é¬Ÿ', 'è²', 'è›®', 'æ—ƒ', ...",å¤© èˆ¹ ç¿» é¬Ÿ è² æ—ƒ å…³ å¹´ å‰,20,9,0.45

In [3]:
ciyun1 = pd.read_csv("C:/Users/Dayeon Lee/Desktop/PythonWD/yunjiao_files2/ciyun_guwenbert_large.csv")
print(len(ciyun1))
ciyun1.head(2)

596

,poem,result,yunjiao_list,all_yunjiao,processed_list,total
0,ç»ˆæ—¥é”ç­ ç¬¼ï¼Œå›å¤´æƒœç¿ èŒ¸ã€‚è°çŸ¥å£°ã—²ã—²ï¼Œäº¦è‡ªæ„é‡é‡ã€‚å¤œå®¿çƒŸç”Ÿæµ¦ï¼Œæœé¸£æ—¥ä¸Šå³°ã€‚æ•…å·¢ä½•è¶³æ‹ï¼Œé¹°éš¼å²‚èƒ½å®¹ã€‚,é‡ å®¹,"['èŒ¸', 'é‡', 'å³°', 'å®¹']",4,2,0.50
1,é«˜äººå²‚å­¦ç”»ï¼Œç”¨ç¬”ä¹ƒå…¶å¤©ã€‚è­¬å¦‚å–„æ¸¸äººï¼Œä¸€ä¸€èƒ½æ“èˆ¹ã€‚é˜å­æœ¬ç¼æ–ï¼Œç•´æ˜”æ…•äº‘æ¸Šã€‚ä¸¹é’å¶ä¸ºæˆï¼ŒæŸ“æŒ‡åˆå°...,å¤© çƒŸ å…³ å¹´ å‰,"['å¤©', 'èˆ¹', 'æ¸Š', 'é¼‹', 'ç¿»', 'é¬Ÿ', 'è²', 'è›®', 'æ—ƒ', ...",20,5,0.25

In [4]:
print(changshi1["all_yunjiao"].sum())
print(changshi1["processed_list"].sum())
print(f'ì›ì‹œ : {changshi1["processed_list"].sum()/changshi1["all_yunjiao"].sum()}')

print(ciyun1["all_yunjiao"].sum())
print(ciyun1["processed_list"].sum())
print(f'ì°¨ìš´ì‹œ : {ciyun1["processed_list"].sum()/ciyun1["all_yunjiao"].sum()}')

2563
1576
ì›ì‹œ : 0.6149044088958252
3603
1937
ì°¨ìš´ì‹œ : 0.5376075492645018

# Guwenbert-base (ê³ ëŒ€ì¤‘êµ­ì–´ ëª¨ë¸)

In [5]:
changshi3 = pd.read_csv("C:/Users/Dayeon Lee/Desktop/PythonWD/yunjiao_files2/changshi_guwenbert_base.csv")
print(len(changshi3))
changshi3.head(2)

412

,ow,ot,oc,yunjiao_list,result,all_yunjiao,processed_list,total
0,è˜‡è½,å±±èƒ¡,å±±èƒ¡æ‹¥è‹æ¯³ï¼Œä¸¤è€³ç™½èŒ¸èŒ¸ã€‚é‡æ ‘å•¼ç»ˆæ—¥ï¼Œé»”å±±æ·±å‡ é‡ã€‚å•„æºªæ¢ç»†çŸ³ï¼Œå™ªè™ä¸Šå­¤å³°ã€‚è¢«æ‰§åº”å¤šæ¨ï¼Œç­ ç¬¼ä»…ä¸å®¹ã€‚,"['èŒ¸', 'é‡', 'å³°', 'å®¹']",èŒ¸ é‡ å³°,4,3,0.75
1,è˜‡æ´µ,é¢˜é˜ç«‹æœ¬ç”»æ°´å®˜,æ°´å®˜éª‘è‹é¾™ï¼Œé¾™è¡Œæ¬²ä¸Šå¤©ã€‚æ‰‹æ”€æ—¶ä¸”ä½ï¼Œæµ©è‹¥ä¹˜é£èˆ¹ã€‚ä¸çŸ¥å‡ ä½•é•¿ï¼Œè¶³å°¾çŠ¹åœ¨æ¸Šã€‚ä¸‹æœ‰äºŒä»è‡£ï¼Œå·¦å³ä¹˜é±¼...,"['å¤©', 'èˆ¹', 'æ¸Š', 'é¼‹', 'ç¿»', 'é¬Ÿ', 'è²', 'è›®', 'æ—ƒ', ...",å¤© ç¿» å¹´,20,3,0.15

In [6]:
ciyun3 = pd.read_csv("C:/Users/Dayeon Lee/Desktop/PythonWD/yunjiao_files2/ciyun_guwenbert_base.csv")
print(len(ciyun3))
ciyun3.head(2)

596

,poem,result,yunjiao_list,all_yunjiao,processed_list,total
0,ç»ˆæ—¥é”ç­ ç¬¼ï¼Œå›å¤´æƒœç¿ èŒ¸ã€‚è°çŸ¥å£°ã—²ã—²ï¼Œäº¦è‡ªæ„é‡é‡ã€‚å¤œå®¿çƒŸç”Ÿæµ¦ï¼Œæœé¸£æ—¥ä¸Šå³°ã€‚æ•…å·¢ä½•è¶³æ‹ï¼Œé¹°éš¼å²‚èƒ½å®¹ã€‚,é‡ å³°,"['èŒ¸', 'é‡', 'å³°', 'å®¹']",4,2,0.50
1,é«˜äººå²‚å­¦ç”»ï¼Œç”¨ç¬”ä¹ƒå…¶å¤©ã€‚è­¬å¦‚å–„æ¸¸äººï¼Œä¸€ä¸€èƒ½æ“èˆ¹ã€‚é˜å­æœ¬ç¼æ–ï¼Œç•´æ˜”æ…•äº‘æ¸Šã€‚ä¸¹é’å¶ä¸ºæˆï¼ŒæŸ“æŒ‡åˆå°...,èˆ¹ è² çƒŸ å…³ å¹´,"['å¤©', 'èˆ¹', 'æ¸Š', 'é¼‹', 'ç¿»', 'é¬Ÿ', 'è²', 'è›®', 'æ—ƒ', ...",20,5,0.25

In [7]:
print(changshi3["all_yunjiao"].sum())
print(changshi3["processed_list"].sum())
print(f'ì›ì‹œ : {changshi3["processed_list"].sum()/changshi3["all_yunjiao"].sum()}')

print(ciyun3["all_yunjiao"].sum())
print(ciyun3["processed_list"].sum())
print(f'ì°¨ìš´ì‹œ : {ciyun3["processed_list"].sum()/ciyun3["all_yunjiao"].sum()}')

2563
1414
ì›ì‹œ : 0.5516972298088177
3603
1762
ì°¨ìš´ì‹œ : 0.4890369136830419

# Sikubert (ê³ ëŒ€ì¤‘êµ­ì–´ ëª¨ë¸)

In [8]:
changshi5 = pd.read_csv("C:/Users/Dayeon Lee/Desktop/PythonWD/yunjiao_files2/changshi_sikubert.csv")
print(len(changshi5))
changshi5.head(2)

412

,ow,ot,oc,yunjiao_list,result,all_yunjiao,processed_list,total
0,è˜‡è½,å±±èƒ¡,å±±èƒ¡æ“è’¼æ¯³ï¼Œå…©è€³ç™½èŒ¸èŒ¸ã€‚é‡æ¨¹å•¼çµ‚æ—¥ï¼Œé»”å±±æ·±å¹¾é‡ã€‚å•„æºªæ¢ç´°çŸ³ï¼Œå™ªè™ä¸Šå­¤å³°ã€‚è¢«åŸ·æ‡‰å¤šæ¨ï¼Œç­ ç± åƒ…ä¸å®¹ã€‚,"['èŒ¸', 'é‡', 'å³°', 'å®¹']",èŒ¸ å³°,4,2,0.50
1,è˜‡æ´µ,é¡Œé–»ç«‹æœ¬ç•«æ°´å®˜,æ°´å®˜é¨è’¼é¾ï¼Œé¾è¡Œæ¬²ä¸Šå¤©ã€‚æ‰‹æ”€æ™‚ä¸”ä½ï¼Œæµ©è‹¥ä¹˜é¢¨èˆ¹ã€‚ä¸çŸ¥å¹¾ä½•é•·ï¼Œè¶³å°¾çŒ¶åœ¨æ·µã€‚ä¸‹æœ‰äºŒå¾è‡£ï¼Œå·¦å³ä¹˜é­š...,"['å¤©', 'èˆ¹', 'æ·µ', 'é»¿', 'ç¿»', 'é¬Ÿ', 'è“®', 'è »', 'æ—œ', ...",å¤© å¹´ å‰,20,3,0.15

In [9]:
ciyun5 = pd.read_csv("C:/Users/Dayeon Lee/Desktop/PythonWD/yunjiao_files2/ciyun_sikubert.csv")
print(len(ciyun5))
ciyun5.head(2)

596

,poem,result,yunjiao_list,all_yunjiao,processed_list,total
0,çµ‚æ—¥é–ç­ ç± ï¼Œå›é ­æƒœç¿ èŒ¸ã€‚èª°çŸ¥è²ã—²ã—²ï¼Œäº¦è‡ªæ„é‡é‡ã€‚å¤œå®¿ç…™ç”Ÿæµ¦ï¼Œæœé³´æ—¥ä¸Šå³°ã€‚æ•…å·¢ä½•è¶³æˆ€ï¼Œé·¹éš¼è±ˆèƒ½å®¹ã€‚,é‡ å³°,"['èŒ¸', 'é‡', 'å³°', 'å®¹']",4,2,0.50
1,"æ·¨å› å¤§è¦ºç’‰å¸«, ä»¥é–»ç«‹æœ¬ç•«æ°´å®˜éºç·¨ç¦®å…¬. å…¬æ—¢å ±ä¹‹ä»¥è©©, è¬‚è»¾, æ±äº¦ä½œ, è»¾é “é¦–å†æ‹œæ¬¡éŸ»,...",å‰,"['å¤©', 'èˆ¹', 'æ·µ', 'é»¿', 'ç¿»', 'é¬Ÿ', 'è“®', 'è »', 'æ—œ', ...",20,1,0.05

In [10]:
print(changshi5["all_yunjiao"].sum())
print(changshi5["processed_list"].sum())
print(f'ì›ì‹œ : {changshi5["processed_list"].sum()/changshi5["all_yunjiao"].sum()}')

print(ciyun5["all_yunjiao"].sum())
print(ciyun5["processed_list"].sum())
print(f'ì°¨ìš´ì‹œ : {ciyun5["processed_list"].sum()/ciyun5["all_yunjiao"].sum()}')

2652
462
ì›ì‹œ : 0.17420814479638008
3625
537
ì°¨ìš´ì‹œ : 0.14813793103448275

# Siku roberta (ê³ ëŒ€ì¤‘êµ­ì–´ ëª¨ë¸)

In [11]:
changshi6 = pd.read_csv("C:/Users/Dayeon Lee/Desktop/PythonWD/yunjiao_files2/changshi_sikuroberta.csv")
print(len(changshi6))
changshi6.head(2)

412

,ow,ot,oc,yunjiao_list,result,all_yunjiao,processed_list,total
0,è˜‡è½,å±±èƒ¡,å±±èƒ¡æ“è’¼æ¯³ï¼Œå…©è€³ç™½èŒ¸èŒ¸ã€‚é‡æ¨¹å•¼çµ‚æ—¥ï¼Œé»”å±±æ·±å¹¾é‡ã€‚å•„æºªæ¢ç´°çŸ³ï¼Œå™ªè™ä¸Šå­¤å³°ã€‚è¢«åŸ·æ‡‰å¤šæ¨ï¼Œç­ ç± åƒ…ä¸å®¹ã€‚,"['èŒ¸', 'é‡', 'å³°', 'å®¹']",é‡ å³° å®¹,4,3,0.75
1,è˜‡æ´µ,é¡Œé–»ç«‹æœ¬ç•«æ°´å®˜,æ°´å®˜é¨è’¼é¾ï¼Œé¾è¡Œæ¬²ä¸Šå¤©ã€‚æ‰‹æ”€æ™‚ä¸”ä½ï¼Œæµ©è‹¥ä¹˜é¢¨èˆ¹ã€‚ä¸çŸ¥å¹¾ä½•é•·ï¼Œè¶³å°¾çŒ¶åœ¨æ·µã€‚ä¸‹æœ‰äºŒå¾è‡£ï¼Œå·¦å³ä¹˜é­š...,"['å¤©', 'èˆ¹', 'æ·µ', 'é»¿', 'ç¿»', 'é¬Ÿ', 'è“®', 'è »', 'æ—œ', ...",å¤© é±£ å¹´ å‰,20,4,0.20

In [12]:
ciyun6 = pd.read_csv("C:/Users/Dayeon Lee/Desktop/PythonWD/yunjiao_files2/ciyun_sikuroberta.csv")
print(len(ciyun6))
ciyun6.head(2)

596

,poem,result,yunjiao_list,all_yunjiao,processed_list,total
0,çµ‚æ—¥é–ç­ ç± ï¼Œå›é ­æƒœç¿ èŒ¸ã€‚èª°çŸ¥è²ã—²ã—²ï¼Œäº¦è‡ªæ„é‡é‡ã€‚å¤œå®¿ç…™ç”Ÿæµ¦ï¼Œæœé³´æ—¥ä¸Šå³°ã€‚æ•…å·¢ä½•è¶³æˆ€ï¼Œé·¹éš¼è±ˆèƒ½å®¹ã€‚,é‡,"['èŒ¸', 'é‡', 'å³°', 'å®¹']",4,1,0.25
1,"æ·¨å› å¤§è¦ºç’‰å¸«, ä»¥é–»ç«‹æœ¬ç•«æ°´å®˜éºç·¨ç¦®å…¬. å…¬æ—¢å ±ä¹‹ä»¥è©©, è¬‚è»¾, æ±äº¦ä½œ, è»¾é “é¦–å†æ‹œæ¬¡éŸ»,...",NaN,"['å¤©', 'èˆ¹', 'æ·µ', 'é»¿', 'ç¿»', 'é¬Ÿ', 'è“®', 'è »', 'æ—œ', ...",20,0,0.00

In [13]:
print(changshi6["all_yunjiao"].sum())
print(changshi6["processed_list"].sum())
print(f'ì›ì‹œ : {changshi6["processed_list"].sum()/changshi6["all_yunjiao"].sum()}')

print(ciyun6["all_yunjiao"].sum())
print(ciyun6["processed_list"].sum())
print(f'ì°¨ìš´ì‹œ : {ciyun6["processed_list"].sum()/ciyun6["all_yunjiao"].sum()}')

2652
889
ì›ì‹œ : 0.33521870286576166
3625
1028
ì°¨ìš´ì‹œ : 0.28358620689655173

# chinese-wwm (í˜„ëŒ€ì¤‘êµ­ì–´ ëª¨ë¸)

In [14]:
changshi7 = pd.read_csv("C:/Users/Dayeon Lee/Desktop/PythonWD/yunjiao_files2/changshi_wwm.csv")
print(len(changshi7))
changshi7.head(2)

412

,ow,ot,oc,yunjiao_list,result,all_yunjiao,processed_list,total
0,è˜‡è½,å±±èƒ¡,å±±èƒ¡æ‹¥è‹æ¯³ï¼Œä¸¤è€³ç™½èŒ¸èŒ¸ã€‚é‡æ ‘å•¼ç»ˆæ—¥ï¼Œé»”å±±æ·±å‡ é‡ã€‚å•„æºªæ¢ç»†çŸ³ï¼Œå™ªè™ä¸Šå­¤å³°ã€‚è¢«æ‰§åº”å¤šæ¨ï¼Œç­ ç¬¼ä»…ä¸å®¹ã€‚,"['èŒ¸', 'é‡', 'å³°', 'å®¹']",èŒ¸ å³°,4,2,0.50
1,è˜‡æ´µ,é¢˜é˜ç«‹æœ¬ç”»æ°´å®˜,æ°´å®˜éª‘è‹é¾™ï¼Œé¾™è¡Œæ¬²ä¸Šå¤©ã€‚æ‰‹æ”€æ—¶ä¸”ä½ï¼Œæµ©è‹¥ä¹˜é£èˆ¹ã€‚ä¸çŸ¥å‡ ä½•é•¿ï¼Œè¶³å°¾çŠ¹åœ¨æ¸Šã€‚ä¸‹æœ‰äºŒä»è‡£ï¼Œå·¦å³ä¹˜é±¼...,"['å¤©', 'èˆ¹', 'æ¸Š', 'é¼‹', 'ç¿»', 'é¬Ÿ', 'è²', 'è›®', 'æ—ƒ', ...",å¤© å¹´ å‰,20,3,0.15

In [15]:
ciyun7 = pd.read_csv("C:/Users/Dayeon Lee/Desktop/PythonWD/yunjiao_files2/ciyun_wwm.csv")
print(len(ciyun7))
ciyun7.head(2)

596

,poem,result,yunjiao_list,all_yunjiao,processed_list,total
0,ç»ˆæ—¥é”ç­ ç¬¼ï¼Œå›å¤´æƒœç¿ èŒ¸ã€‚è°çŸ¥å£°ã—²ã—²ï¼Œäº¦è‡ªæ„é‡é‡ã€‚å¤œå®¿çƒŸç”Ÿæµ¦ï¼Œæœé¸£æ—¥ä¸Šå³°ã€‚æ•…å·¢ä½•è¶³æ‹ï¼Œé¹°éš¼å²‚èƒ½å®¹ã€‚,é‡ å³°,"['èŒ¸', 'é‡', 'å³°', 'å®¹']",4,2,0.5
1,é«˜äººå²‚å­¦ç”»ï¼Œç”¨ç¬”ä¹ƒå…¶å¤©ã€‚è­¬å¦‚å–„æ¸¸äººï¼Œä¸€ä¸€èƒ½æ“èˆ¹ã€‚é˜å­æœ¬ç¼æ–ï¼Œç•´æ˜”æ…•äº‘æ¸Šã€‚ä¸¹é’å¶ä¸ºæˆï¼ŒæŸ“æŒ‡åˆå°...,å· å‰,"['å¤©', 'èˆ¹', 'æ¸Š', 'é¼‹', 'ç¿»', 'é¬Ÿ', 'è²', 'è›®', 'æ—ƒ', ...",20,2,0.1

In [16]:
print(changshi7["all_yunjiao"].sum())
print(changshi7["processed_list"].sum())
print(f'ì›ì‹œ : {changshi7["processed_list"].sum()/changshi7["all_yunjiao"].sum()}')

print(ciyun7["all_yunjiao"].sum())
print(ciyun7["processed_list"].sum())
print(f'ì°¨ìš´ì‹œ : {ciyun7["processed_list"].sum()/ciyun7["all_yunjiao"].sum()}')

2563
427
ì›ì‹œ : 0.166601638704643
3603
549
ì°¨ìš´ì‹œ : 0.1523730224812656

# two sampled z-test

# í•¨ìˆ˜ ê²°ê³¼ì™€ ë¹„êµ

In [19]:
import scipy.stats.distributions as dist

def z_test_2_sample_proportions(row, two_tailed=False):
    x1, x2, n1, n2 = row['x1'], row['x2'], row['n1'], row['n2']
    avg_p = (x1 + x2) / (n1 + n2)
    z_val = (x1/n1 - x2/n2) / np.sqrt(avg_p * (1 - avg_p) * (1/n1 + 1/n2))
    z_prob = dist.norm.cdf(-np.abs(z_val))

    if two_tailed:
        return pd.Series({'z-test': z_val, 'p-value': 2 * z_prob})
    else:
        return pd.Series({'z-test': z_val, 'p-value': z_prob})

In [20]:
data = {'language model' : ["Guwenbert-base", "Guwenbert-large", 
                            "Siku bert", "Siku roberta", "chinese-bert-wwm"],
    'x1': [changshi3["processed_list"].sum(), changshi1["processed_list"].sum(), 
           changshi5["processed_list"].sum(), changshi6["processed_list"].sum(), 
           changshi7["processed_list"].sum()],
    'x2': [ciyun3["processed_list"].sum(), ciyun1["processed_list"].sum(),
           ciyun5["processed_list"].sum(), ciyun6["processed_list"].sum(),
           ciyun7["processed_list"].sum()],
    'n1': [2563, 2563, 2563, 2563, 2563],
    'n2': [3603, 3603, 3603, 3603, 3603]
}

In [21]:
df = pd.DataFrame(data)
df

     language model    x1    x2    n1    n2
0    Guwenbert-base  1414  1762  2563  3603
1   Guwenbert-large  1576  1937  2563  3603
2         Siku bert   462   537  2563  3603
3      Siku roberta   889  1028  2563  3603
4  chinese-bert-wwm   427   549  2563  3603

In [22]:
df[['z-test', 'p-value']] = df.apply(z_test_2_sample_proportions, axis=1)
df

     language model    x1    x2    n1    n2    z-test       p-value
0    Guwenbert-base  1414  1762  2563  3603  4.852046  6.109705e-07
1   Guwenbert-large  1576  1937  2563  3603  6.041744  7.622845e-10
2         Siku bert   462   537  2563  3603  3.278462  5.218714e-04
3      Siku roberta   889  1028  2563  3603  5.145420  1.334613e-07
4  chinese-bert-wwm   427   549  2563  3603  1.508559  6.570577e-02

In [23]:
df.columns = ['language model', 
              'ì›ì‹œ ì •ë‹µê°œìˆ˜', 'ì°¨ìš´ì‹œ ì •ë‹µê°œìˆ˜', 
              'ì›ì‹œ ì „ì²´ìš´ê°ê°œìˆ˜', 'ì°¨ìš´ì‹œ ì „ì²´ìš´ê°ê°œìˆ˜',
              'z-test', 'p-value']

In [24]:
df

,language model,ì›ì‹œ ì •ë‹µê°œìˆ˜,ì°¨ìš´ì‹œ ì •ë‹µê°œìˆ˜,ì›ì‹œ ì „ì²´ìš´ê°ê°œìˆ˜,ì°¨ìš´ì‹œ ì „ì²´ìš´ê°ê°œìˆ˜,z-test,p-value
0,Guwenbert-base,1414,1762,2563,3603,4.852046,6.109705e-07
1,Guwenbert-large,1576,1937,2563,3603,6.041744,7.622845e-10
2,Siku bert,462,537,2563,3603,3.278462,5.218714e-04
3,Siku roberta,889,1028,2563,3603,5.145420,1.334613e-07
4,chinese-bert-wwm,427,549,2563,3603,1.508559,6.570577e-02

# ì•„ë˜ì˜ ë°©ë²•ë„ ê°€ëŠ¥

In [2]:
# Guwenbert-large
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

x1 = 1576  # ì˜ˆì‹œ ê°’
x2 = 1937  # ì˜ˆì‹œ ê°’
n1 = 2563  # ì˜ˆì‹œ ê°’
n2 = 3603  # ì˜ˆì‹œ ê°’

success_cnts = np.array([x1, x2])
total_cnts = np.array([n1, n2])

# ì²« ë²ˆì§¸ ë¹„ìœ¨ì´ ë‘ ë²ˆì§¸ ë¹„ìœ¨ë³´ë‹¤ í¬ë‹¤ëŠ” ê°€ì„¤ì„ ê²€ì •í•˜ëŠ” ê²½ìš°
test_stat, pval = proportions_ztest(count=success_cnts, nobs=total_cnts, alternative='larger')
print('One sided z-test (larger): z = {:.4f}, p value = {:.4f}'.format(test_stat, pval))

One sided z-test (larger): z = 6.0417, p value = 0.0000

In [3]:
# Guwenbert-base

x1 = 1414  # ì˜ˆì‹œ ê°’
x2 = 1762  # ì˜ˆì‹œ ê°’
n1 = 2563  # ì˜ˆì‹œ ê°’
n2 = 3603  # ì˜ˆì‹œ ê°’

success_cnts = np.array([x1, x2])
total_cnts = np.array([n1, n2])

test_stat, pval = proportions_ztest(count=success_cnts, nobs=total_cnts, alternative='larger')
print('One sided z-test (larger): z = {:.4f}, p value = {:.4f}'.format(test_stat, pval))

One sided z-test (larger): z = 4.8520, p value = 0.0000

In [ ]:
# Siku bert

x1 = 462  # ì˜ˆì‹œ ê°’
x2 = 537  # ì˜ˆì‹œ ê°’
n1 = 2563  # ì˜ˆì‹œ ê°’
n2 = 3603  # ì˜ˆì‹œ ê°’

success_cnts = np.array([x1, x2])
total_cnts = np.array([n1, n2])

test_stat, pval = proportions_ztest(count=success_cnts, nobs=total_cnts, alternative='larger')
print('One sided z-test (larger): z = {:.4f}, p value = {:.4f}'.format(test_stat, pval))

In [ ]:
# Siku roberta

x1 = 889  # ì˜ˆì‹œ ê°’
x2 = 1028  # ì˜ˆì‹œ ê°’
n1 = 2563  # ì˜ˆì‹œ ê°’
n2 = 3603  # ì˜ˆì‹œ ê°’

success_cnts = np.array([x1, x2])
total_cnts = np.array([n1, n2])

test_stat, pval = proportions_ztest(count=success_cnts, nobs=total_cnts, alternative='larger')
print('One sided z-test (larger): z = {:.4f}, p value = {:.4f}'.format(test_stat, pval))

In [ ]:
# chinese-wwm

x1 = 427  # ì˜ˆì‹œ ê°’
x2 = 549  # ì˜ˆì‹œ ê°’
n1 = 2563  # ì˜ˆì‹œ ê°’
n2 = 3603  # ì˜ˆì‹œ ê°’

success_cnts = np.array([x1, x2])
total_cnts = np.array([n1, n2])

test_stat, pval = proportions_ztest(count=success_cnts, nobs=total_cnts, alternative='larger')
print('One sided z-test (larger): z = {:.4f}, p value = {:.4f}'.format(test_stat, pval))