# 🧵 고대중국어를 학습한 모델 4개와 현대중국어를 학습한 모델 1개

# 💡 원시와 차운시에서 예측한 결과를 비교하기 위해 z-test를 실시

In [1]:
import pandas as pd
import numpy as np

# Guwenbert-large (고대중국어 모델)

In [2]:
changshi1 = pd.read_csv("C:/Users/Dayeon Lee/Desktop/PythonWD/yunjiao_files2/changshi_guwenbert_large.csv")
print(len(changshi1))
changshi1.head(2)

412

,ow,ot,oc,yunjiao_list,result,all_yunjiao,processed_list,total
0,蘇轍,山胡,山胡拥苍毳，两耳白茸茸。野树啼终日，黔山深几重。啄溪探细石，噪虎上孤峰。被执应多恨，筠笼仅不容。,"['茸', '重', '峰', '容']",茸 重 峰 容,4,4,1.00
1,蘇洵,题阎立本画水官,水官骑苍龙，龙行欲上天。手攀时且住，浩若乘风船。不知几何长，足尾犹在渊。下有二从臣，左右乘鱼...,"['天', '船', '渊', '鼋', '翻', '鬟', '莲', '蛮', '旃', ...",天 船 翻 鬟 莲 旃 关 年 前,20,9,0.45

In [3]:
ciyun1 = pd.read_csv("C:/Users/Dayeon Lee/Desktop/PythonWD/yunjiao_files2/ciyun_guwenbert_large.csv")
print(len(ciyun1))
ciyun1.head(2)

596

,poem,result,yunjiao_list,all_yunjiao,processed_list,total
0,终日锁筠笼，回头惜翠茸。谁知声㗲㗲，亦自意重重。夜宿烟生浦，朝鸣日上峰。故巢何足恋，鹰隼岂能容。,重 容,"['茸', '重', '峰', '容']",4,2,0.50
1,高人岂学画，用笔乃其天。譬如善游人，一一能操船。阎子本缝掖，畴昔慕云渊。丹青偶为戏，染指初尝...,天 烟 关 年 前,"['天', '船', '渊', '鼋', '翻', '鬟', '莲', '蛮', '旃', ...",20,5,0.25

In [4]:
print(changshi1["all_yunjiao"].sum())
print(changshi1["processed_list"].sum())
print(f'원시 : {changshi1["processed_list"].sum()/changshi1["all_yunjiao"].sum()}')

print(ciyun1["all_yunjiao"].sum())
print(ciyun1["processed_list"].sum())
print(f'차운시 : {ciyun1["processed_list"].sum()/ciyun1["all_yunjiao"].sum()}')

2563
1576
원시 : 0.6149044088958252
3603
1937
차운시 : 0.5376075492645018

# Guwenbert-base (고대중국어 모델)

In [5]:
changshi3 = pd.read_csv("C:/Users/Dayeon Lee/Desktop/PythonWD/yunjiao_files2/changshi_guwenbert_base.csv")
print(len(changshi3))
changshi3.head(2)

412

,ow,ot,oc,yunjiao_list,result,all_yunjiao,processed_list,total
0,蘇轍,山胡,山胡拥苍毳，两耳白茸茸。野树啼终日，黔山深几重。啄溪探细石，噪虎上孤峰。被执应多恨，筠笼仅不容。,"['茸', '重', '峰', '容']",茸 重 峰,4,3,0.75
1,蘇洵,题阎立本画水官,水官骑苍龙，龙行欲上天。手攀时且住，浩若乘风船。不知几何长，足尾犹在渊。下有二从臣，左右乘鱼...,"['天', '船', '渊', '鼋', '翻', '鬟', '莲', '蛮', '旃', ...",天 翻 年,20,3,0.15

In [6]:
ciyun3 = pd.read_csv("C:/Users/Dayeon Lee/Desktop/PythonWD/yunjiao_files2/ciyun_guwenbert_base.csv")
print(len(ciyun3))
ciyun3.head(2)

596

,poem,result,yunjiao_list,all_yunjiao,processed_list,total
0,终日锁筠笼，回头惜翠茸。谁知声㗲㗲，亦自意重重。夜宿烟生浦，朝鸣日上峰。故巢何足恋，鹰隼岂能容。,重 峰,"['茸', '重', '峰', '容']",4,2,0.50
1,高人岂学画，用笔乃其天。譬如善游人，一一能操船。阎子本缝掖，畴昔慕云渊。丹青偶为戏，染指初尝...,船 莲 烟 关 年,"['天', '船', '渊', '鼋', '翻', '鬟', '莲', '蛮', '旃', ...",20,5,0.25

In [7]:
print(changshi3["all_yunjiao"].sum())
print(changshi3["processed_list"].sum())
print(f'원시 : {changshi3["processed_list"].sum()/changshi3["all_yunjiao"].sum()}')

print(ciyun3["all_yunjiao"].sum())
print(ciyun3["processed_list"].sum())
print(f'차운시 : {ciyun3["processed_list"].sum()/ciyun3["all_yunjiao"].sum()}')

2563
1414
원시 : 0.5516972298088177
3603
1762
차운시 : 0.4890369136830419

# Sikubert (고대중국어 모델)

In [8]:
changshi5 = pd.read_csv("C:/Users/Dayeon Lee/Desktop/PythonWD/yunjiao_files2/changshi_sikubert.csv")
print(len(changshi5))
changshi5.head(2)

412

,ow,ot,oc,yunjiao_list,result,all_yunjiao,processed_list,total
0,蘇轍,山胡,山胡擁蒼毳，兩耳白茸茸。野樹啼終日，黔山深幾重。啄溪探細石，噪虎上孤峰。被執應多恨，筠籠僅不容。,"['茸', '重', '峰', '容']",茸 峰,4,2,0.50
1,蘇洵,題閻立本畫水官,水官騎蒼龍，龍行欲上天。手攀時且住，浩若乘風船。不知幾何長，足尾猶在淵。下有二從臣，左右乘魚...,"['天', '船', '淵', '黿', '翻', '鬟', '蓮', '蠻', '旜', ...",天 年 前,20,3,0.15

In [9]:
ciyun5 = pd.read_csv("C:/Users/Dayeon Lee/Desktop/PythonWD/yunjiao_files2/ciyun_sikubert.csv")
print(len(ciyun5))
ciyun5.head(2)

596

,poem,result,yunjiao_list,all_yunjiao,processed_list,total
0,終日鎖筠籠，回頭惜翠茸。誰知聲㗲㗲，亦自意重重。夜宿煙生浦，朝鳴日上峰。故巢何足戀，鷹隼豈能容。,重 峰,"['茸', '重', '峰', '容']",4,2,0.50
1,"淨因大覺璉師, 以閻立本畫水官遺編禮公. 公既報之以詩, 謂軾, 汝亦作, 軾頓首再拜次韻,...",前,"['天', '船', '淵', '黿', '翻', '鬟', '蓮', '蠻', '旜', ...",20,1,0.05

In [10]:
print(changshi5["all_yunjiao"].sum())
print(changshi5["processed_list"].sum())
print(f'원시 : {changshi5["processed_list"].sum()/changshi5["all_yunjiao"].sum()}')

print(ciyun5["all_yunjiao"].sum())
print(ciyun5["processed_list"].sum())
print(f'차운시 : {ciyun5["processed_list"].sum()/ciyun5["all_yunjiao"].sum()}')

2652
462
원시 : 0.17420814479638008
3625
537
차운시 : 0.14813793103448275

# Siku roberta (고대중국어 모델)

In [11]:
changshi6 = pd.read_csv("C:/Users/Dayeon Lee/Desktop/PythonWD/yunjiao_files2/changshi_sikuroberta.csv")
print(len(changshi6))
changshi6.head(2)

412

,ow,ot,oc,yunjiao_list,result,all_yunjiao,processed_list,total
0,蘇轍,山胡,山胡擁蒼毳，兩耳白茸茸。野樹啼終日，黔山深幾重。啄溪探細石，噪虎上孤峰。被執應多恨，筠籠僅不容。,"['茸', '重', '峰', '容']",重 峰 容,4,3,0.75
1,蘇洵,題閻立本畫水官,水官騎蒼龍，龍行欲上天。手攀時且住，浩若乘風船。不知幾何長，足尾猶在淵。下有二從臣，左右乘魚...,"['天', '船', '淵', '黿', '翻', '鬟', '蓮', '蠻', '旜', ...",天 鱣 年 前,20,4,0.20

In [12]:
ciyun6 = pd.read_csv("C:/Users/Dayeon Lee/Desktop/PythonWD/yunjiao_files2/ciyun_sikuroberta.csv")
print(len(ciyun6))
ciyun6.head(2)

596

,poem,result,yunjiao_list,all_yunjiao,processed_list,total
0,終日鎖筠籠，回頭惜翠茸。誰知聲㗲㗲，亦自意重重。夜宿煙生浦，朝鳴日上峰。故巢何足戀，鷹隼豈能容。,重,"['茸', '重', '峰', '容']",4,1,0.25
1,"淨因大覺璉師, 以閻立本畫水官遺編禮公. 公既報之以詩, 謂軾, 汝亦作, 軾頓首再拜次韻,...",NaN,"['天', '船', '淵', '黿', '翻', '鬟', '蓮', '蠻', '旜', ...",20,0,0.00

In [13]:
print(changshi6["all_yunjiao"].sum())
print(changshi6["processed_list"].sum())
print(f'원시 : {changshi6["processed_list"].sum()/changshi6["all_yunjiao"].sum()}')

print(ciyun6["all_yunjiao"].sum())
print(ciyun6["processed_list"].sum())
print(f'차운시 : {ciyun6["processed_list"].sum()/ciyun6["all_yunjiao"].sum()}')

2652
889
원시 : 0.33521870286576166
3625
1028
차운시 : 0.28358620689655173

# chinese-wwm (현대중국어 모델)

In [14]:
changshi7 = pd.read_csv("C:/Users/Dayeon Lee/Desktop/PythonWD/yunjiao_files2/changshi_wwm.csv")
print(len(changshi7))
changshi7.head(2)

412

,ow,ot,oc,yunjiao_list,result,all_yunjiao,processed_list,total
0,蘇轍,山胡,山胡拥苍毳，两耳白茸茸。野树啼终日，黔山深几重。啄溪探细石，噪虎上孤峰。被执应多恨，筠笼仅不容。,"['茸', '重', '峰', '容']",茸 峰,4,2,0.50
1,蘇洵,题阎立本画水官,水官骑苍龙，龙行欲上天。手攀时且住，浩若乘风船。不知几何长，足尾犹在渊。下有二从臣，左右乘鱼...,"['天', '船', '渊', '鼋', '翻', '鬟', '莲', '蛮', '旃', ...",天 年 前,20,3,0.15

In [15]:
ciyun7 = pd.read_csv("C:/Users/Dayeon Lee/Desktop/PythonWD/yunjiao_files2/ciyun_wwm.csv")
print(len(ciyun7))
ciyun7.head(2)

596

,poem,result,yunjiao_list,all_yunjiao,processed_list,total
0,终日锁筠笼，回头惜翠茸。谁知声㗲㗲，亦自意重重。夜宿烟生浦，朝鸣日上峰。故巢何足恋，鹰隼岂能容。,重 峰,"['茸', '重', '峰', '容']",4,2,0.5
1,高人岂学画，用笔乃其天。譬如善游人，一一能操船。阎子本缝掖，畴昔慕云渊。丹青偶为戏，染指初尝...,川 前,"['天', '船', '渊', '鼋', '翻', '鬟', '莲', '蛮', '旃', ...",20,2,0.1

In [16]:
print(changshi7["all_yunjiao"].sum())
print(changshi7["processed_list"].sum())
print(f'원시 : {changshi7["processed_list"].sum()/changshi7["all_yunjiao"].sum()}')

print(ciyun7["all_yunjiao"].sum())
print(ciyun7["processed_list"].sum())
print(f'차운시 : {ciyun7["processed_list"].sum()/ciyun7["all_yunjiao"].sum()}')

2563
427
원시 : 0.166601638704643
3603
549
차운시 : 0.1523730224812656

# two sampled z-test

# 함수 결과와 비교

In [19]:
import scipy.stats.distributions as dist

def z_test_2_sample_proportions(row, two_tailed=False):
    x1, x2, n1, n2 = row['x1'], row['x2'], row['n1'], row['n2']
    avg_p = (x1 + x2) / (n1 + n2)
    z_val = (x1/n1 - x2/n2) / np.sqrt(avg_p * (1 - avg_p) * (1/n1 + 1/n2))
    z_prob = dist.norm.cdf(-np.abs(z_val))

    if two_tailed:
        return pd.Series({'z-test': z_val, 'p-value': 2 * z_prob})
    else:
        return pd.Series({'z-test': z_val, 'p-value': z_prob})

In [20]:
data = {'language model' : ["Guwenbert-base", "Guwenbert-large", 
                            "Siku bert", "Siku roberta", "chinese-bert-wwm"],
    'x1': [changshi3["processed_list"].sum(), changshi1["processed_list"].sum(), 
           changshi5["processed_list"].sum(), changshi6["processed_list"].sum(), 
           changshi7["processed_list"].sum()],
    'x2': [ciyun3["processed_list"].sum(), ciyun1["processed_list"].sum(),
           ciyun5["processed_list"].sum(), ciyun6["processed_list"].sum(),
           ciyun7["processed_list"].sum()],
    'n1': [2563, 2563, 2563, 2563, 2563],
    'n2': [3603, 3603, 3603, 3603, 3603]
}

In [21]:
df = pd.DataFrame(data)
df

     language model    x1    x2    n1    n2
0    Guwenbert-base  1414  1762  2563  3603
1   Guwenbert-large  1576  1937  2563  3603
2         Siku bert   462   537  2563  3603
3      Siku roberta   889  1028  2563  3603
4  chinese-bert-wwm   427   549  2563  3603

In [22]:
df[['z-test', 'p-value']] = df.apply(z_test_2_sample_proportions, axis=1)
df

     language model    x1    x2    n1    n2    z-test       p-value
0    Guwenbert-base  1414  1762  2563  3603  4.852046  6.109705e-07
1   Guwenbert-large  1576  1937  2563  3603  6.041744  7.622845e-10
2         Siku bert   462   537  2563  3603  3.278462  5.218714e-04
3      Siku roberta   889  1028  2563  3603  5.145420  1.334613e-07
4  chinese-bert-wwm   427   549  2563  3603  1.508559  6.570577e-02

In [23]:
df.columns = ['language model', 
              '원시 정답개수', '차운시 정답개수', 
              '원시 전체운각개수', '차운시 전체운각개수',
              'z-test', 'p-value']

In [24]:
df

,language model,원시 정답개수,차운시 정답개수,원시 전체운각개수,차운시 전체운각개수,z-test,p-value
0,Guwenbert-base,1414,1762,2563,3603,4.852046,6.109705e-07
1,Guwenbert-large,1576,1937,2563,3603,6.041744,7.622845e-10
2,Siku bert,462,537,2563,3603,3.278462,5.218714e-04
3,Siku roberta,889,1028,2563,3603,5.145420,1.334613e-07
4,chinese-bert-wwm,427,549,2563,3603,1.508559,6.570577e-02

# 아래의 방법도 가능

In [2]:
# Guwenbert-large
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

x1 = 1576  # 예시 값
x2 = 1937  # 예시 값
n1 = 2563  # 예시 값
n2 = 3603  # 예시 값

success_cnts = np.array([x1, x2])
total_cnts = np.array([n1, n2])

# 첫 번째 비율이 두 번째 비율보다 크다는 가설을 검정하는 경우
test_stat, pval = proportions_ztest(count=success_cnts, nobs=total_cnts, alternative='larger')
print('One sided z-test (larger): z = {:.4f}, p value = {:.4f}'.format(test_stat, pval))

One sided z-test (larger): z = 6.0417, p value = 0.0000

In [3]:
# Guwenbert-base

x1 = 1414  # 예시 값
x2 = 1762  # 예시 값
n1 = 2563  # 예시 값
n2 = 3603  # 예시 값

success_cnts = np.array([x1, x2])
total_cnts = np.array([n1, n2])

test_stat, pval = proportions_ztest(count=success_cnts, nobs=total_cnts, alternative='larger')
print('One sided z-test (larger): z = {:.4f}, p value = {:.4f}'.format(test_stat, pval))

One sided z-test (larger): z = 4.8520, p value = 0.0000

In [ ]:
# Siku bert

x1 = 462  # 예시 값
x2 = 537  # 예시 값
n1 = 2563  # 예시 값
n2 = 3603  # 예시 값

success_cnts = np.array([x1, x2])
total_cnts = np.array([n1, n2])

test_stat, pval = proportions_ztest(count=success_cnts, nobs=total_cnts, alternative='larger')
print('One sided z-test (larger): z = {:.4f}, p value = {:.4f}'.format(test_stat, pval))

In [ ]:
# Siku roberta

x1 = 889  # 예시 값
x2 = 1028  # 예시 값
n1 = 2563  # 예시 값
n2 = 3603  # 예시 값

success_cnts = np.array([x1, x2])
total_cnts = np.array([n1, n2])

test_stat, pval = proportions_ztest(count=success_cnts, nobs=total_cnts, alternative='larger')
print('One sided z-test (larger): z = {:.4f}, p value = {:.4f}'.format(test_stat, pval))

In [ ]:
# chinese-wwm

x1 = 427  # 예시 값
x2 = 549  # 예시 값
n1 = 2563  # 예시 값
n2 = 3603  # 예시 값

success_cnts = np.array([x1, x2])
total_cnts = np.array([n1, n2])

test_stat, pval = proportions_ztest(count=success_cnts, nobs=total_cnts, alternative='larger')
print('One sided z-test (larger): z = {:.4f}, p value = {:.4f}'.format(test_stat, pval))